*{
    margin: 0;
    padding: 0;
}

.hero{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
    background-color: whitesmoke;
    
}
.from-box{
   
    position: relative;
    margin: 6% auto;
    background: cornflowerblue;
    padding: 5px;
    height: 400px;
    width: 400px;
    overflow: hidden;
}
.button-box{
    width: 220px;
    margin: 25px auto;
    position: relative;
    border-radius: 30px;
    border-style: solid;
  border-color: silver;
    
}

.toggle-btn{
padding: 10px 30px;
cursor: pointer;
background: transparent;
border: 0;
outline: none;
position: relative;
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background-color: whitesmoke;
    border-radius: 30px;
    transition: .5s;
}
.input-group{
top: 90px;
position: absolute;
width: 280px;
transition: 0.5s;;
}
.input-field{
    width: 100%;
    margin: 5px 0;
    padding: 8px;
    border-radius: 5px;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    background-color: whitesmoke;
}

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background-color: silver;
    border: 0;
    outline: none;
    border-radius: 30px;
}

#login{
    left: 50px;
}
#register{
    left: 450px;
}



