*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    
background-color:whitesmoke;

  
}

.profileul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    
    background-color: #333;
    
  }
  
  
 


/*-------- profile css -----*/


/*-----------*/
.btn{
   
    padding: 10px 30px;
    cursor: pointer;
    margin: auto;
    background-color: silver;
    border: 0;
    outline: none;
    border-radius: 30px;
}
form input{
    margin: 6px;
    padding: 8px;
    
}
.todobox2{
    position: relative;
    background-color: cornflowerblue;
   
    margin: auto;
    width: 500px;
    float: left;
    margin-top: 40px;
    margin-left: 40px;
}
.todobox3{
    float: right;
    margin-top: 40px;
    margin-right: 80px;
}

    #itemList { font-size: 1.5rem;}
    .show { display: block;}
    .hide { display: none;}
    
    .list-group-item{
        background-color: silver;
        overflow-block: 2;
        width:  400px;
        margin-left: 50px;
        border-radius: 10px;
        padding: 8px;
        margin-bottom: 5px;
    }


    .nav-link{
        margin-left: 50px;
        text-decoration: none;
        border-radius: 2px;
        padding: 8px;
        color: whitesmoke;
        background-color: #231F20;
        
    }
    .class1 .form-control{
      width: auto;
      margin: 5px 0;
      padding: 8px;
      border-radius: 5px;
      border-bottom: 1px solid #999;
      outline: none;
      background: transparent;
      background-color: whitesmoke;
    }

/*----------------weather app css------- */

.todobox4{
background-color:cornflowerblue ;
width: 300px;
margin-left: 150px;
padding: 8px;
}


.form1{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.form1 input {
    width: 100%;
    margin: 5px 0;
    padding: 8px;
    border-radius: 5px;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    background-color: whitesmoke;
}
main{
    flex: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 15px 15px;
}


.location .city {
    color: #FFF;
    font-size: 15px;
   
    margin-bottom: 5px;
  }
  
  .location .date {
    color: #FFF;
    
  }
  
  .current .temp {
    color: #FFF;
    
    margin: 15px 0px;
    
  }
  
  .current .temp span {
    font-weight: 500;
  }
  
  .current .weather {
    color: #FFF;
   
  }
  .btn1{
    padding: 10px 30px;
    cursor: pointer;
    margin: auto;
    background-color: silver;
    border: 0;
    outline: none;
    border-radius: 30px;
  }
